RewriteEngine On

# Route everything through router.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ router.php [QSA,L]

<!-- RewriteEngine On

# Ensure the correct MIME type for JavaScript modules
AddType application/javascript .js

# Route API requests to router.php
RewriteCond %{REQUEST_URI} ^/api [NC]
RewriteRule ^ router.php [QSA,L]

# Serve static files normally
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L] -->